
#weather
{
	width: 100%;
	height: 100%;
	float: right;
	background: linear-gradient(to right, rgba(255,0,0,0), #722727);
	top: 0%;
	position: absolute;
    z-index: 1;
    border-radius: 4%;
}
#weatherIcon
{
	width: 45%;
	height: 30%;
	margin-top: 05%;
	margin-left: 05%;
	float: left;
}
#temprature
{
	font-family: century gothic;
	font-size: 300%;
	margin-right: 5%;
	margin-top: 10%;
	float: right;
	color: #ffffff;
}